/*-----------------------------------------------------------------------------------------*/
/*Structure de la page*/
*:focus{
	outline: 0;
}

body{
	background-color: #878787;
}

header{
	width: 100%;
	height: 10%;
	background-color: #D0D0D0;
	margin-top: 0px;
	padding: 0px;
	border: 0.18em;
	border-color: #575757;
	border-style: solid;
	border-radius: 1em;
	box-shadow: 1px 1px 18px #555;
}

nav{
	width: 15%;
	height: auto;
	background-color: #D0D0D0;
	float: left;
	margin-top: 2%;
	border-radius: 1em;
	border: 0.18em;
	border-color: #575757;
	border-style: solid;
	/*position: fixed;*/
	padding-right: 2%;
	box-shadow: 1px 1px 18px #555;
}

footer{
	height: 10%;
	background-color: #D0D0D0;
	margin-bottom: 0px;
	margin-left: 18.5%;
	margin-right: 0.6%;
	padding: 0px;
	border: 0.18em;
	border-style: solid;
	border-color: #575757;
	border-radius: 0.7em;
	box-shadow: 1px 1px 18px #555;
}
footer.petit{
	position: bottom;
	bottom: 1%;
}

figcaption.logo{
	text-align: center;
	font-style: 70%;
	color: rgb(100, 100, 100);
	border: 0em;
	border-top: 0.1em;
	border-color: rgb(100, 100, 100);
	border-style: solid;
	width: 40%;
}

figcaption{
	text-align: center;
	font-style: 70%;
	color: rgb(100, 100, 100);
	border: 0em;
	border-top: 0.1em;
	border-color: rgb(100, 100, 100);
	border-style: solid;
	width: 30%;
}
/*-----------------------------------------------------------------------------------------*/
/*Footer*/
p.footer{
	color: #444444;
}

/*Corps de la page*/
div.general{
	border: 0.18em;
	border-color: #575757;
	background-color: #D0D0D0;
	border-style: solid;
	margin-top: 2%;
	margin-right: 0.6%;
	margin-left: 18.5%;
	margin-bottom: 1%;
	padding-top: 0.5%;
	padding-bottom: 1%;
	box-shadow: 1px 1px 18px #555;
	border-radius: 0.4em;
}

/*Important*/
div.important{
	border-color: rgba(120, 0, 0, 50);
	background-color: rgba(200, 60, 60, 50);
	border-style: solid;
	border-width: 0.19em;
	border-radius: 0.5em;
}
img.important{
	width: 12%;
	margin: 0.5em 0.5em 0.5em 0.5em;
	display: inline-block;
}
p.important{
	display: inline-block;
	margin-left: 0;
}

#centrer_texte{
	text-align: center;
	margin-bottom: 1.5em;
}

p{
	margin-left: 2em;
	margin-right: 2em;
	font-family: times new roman;
}

h3{
	margin-left: 2em;
	font-size: 200%;
	font-family: comic sans ms;
}

h4{
	margin-left: 2em;
	font-size: 130%;
	font-family: comic sans ms;
}

/*-----------------------------------------------------------------------------------------*/
/*Navigation*/
ul.navigation{
	padding-bottom: 4%;
	margin: auto;
}

li.navigation{
	padding-bottom: 1.5%;
	list-style: none;
	text-align: center;
	background-color: #939393;
	border: 0.08em solid #D5D5D5;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	width: 100%;
	border-radius: 0.4em;
	box-shadow: 1px 1px 3px #666;
	border-color: #575757;
	margin-bottom: 0.2em;
	font-size: 16px;
}

li.navigation:hover{
	background-color: #575757;
	color: white;
	cursor: pointer;
}

li.navigation:focus{
	box-shadow: 2px 2px 6px #666 inset;
}

ul.navigation_h{
	list-style-type: none;
	padding-bottom: 4%;
	margin-top: 1em;
}

li.navigation_h{
	display: inline-block;
	padding-bottom: 1.5%;
	list-style: none;
	text-align: center;
	background-color: #939393;
	border: 0.08em solid #D5D5D5;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	width: 17%;
	border-radius: 0.4em;
	box-shadow: 1px 1px 3px #666;
	border-color: #575757;
	margin-bottom: 0.2em;
	font-size: 16px;
}

li.navigation_h:hover{
	background-color: #575757;
	color: white;
	cursor: pointer;
}

li.navigation_h:focus{
	box-shadow: 2px 2px 6px #666 inset;
}

/*Baniere*/
#logo_baniere{
	display: inline-block;
	width: 6%;
}

/*-----------------------------------------------------------------------------------------*/
/*Formulaires*/
fieldset{
	margin-left: 2em;
	margin-right: 2em;
	width: 30%;
	padding-left: 2em;
	padding-right: 2em;
	border-style: solid;
	border-color: #575757;
	border-radius: 0.5em;
}

fieldset.paragraphe{
	margin-left: 2em;
	margin-right: 2em;
	width: 60%;
	padding-left: 2em;
	padding-right: 2em;
}

legend{
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 109%;
	font-family: calibri;
	font-weight: bold;
}

label{
	display: block;
}

label.radio{
	display: inline;
	padding-right: 0.2em;
	padding-left: 0.2em;
}

textarea{
	font-family: times new roman;
	border-radius: 0.3em;
	border-style: solid;
	border-color: #575757;
	border-width: 0.12em;
	width: 100%;
	height: 10em;
	font-family: calibri;
	resize:none;
}

button, input[type="submit"], input[type="reset"], input[type="button"]{
	padding: 0.45em 2.5em 0.45em 2.5em;
	font: bold 80% Arial;
	color: #555;
	border-radius: 0.2em;
	width: auto;
	border: none;
	box-shadow:2px 2px 6px #AAA;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
	background: #919191;
	cursor: pointer;
	color: #FFF;
}

button:active, input[type="submit"]:active, input[type="reset"]:focus, input[type="button"]:focus{
	box-shadow: 2px 2px 6px #666 inset;
	background: #7A7A7A;
}

select{
	color: #555;
	box-shadow:2px 2px 6px #AAA;
	border-radius: 0.25em;
	border-style: solid;
	border: 0.18em;
	border-color: black;
	width: 35%;
	text-align: center;
	font-family: times new roman;
	font-size: 95%;
	cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"]{
	border-radius: 0.3em;
	border-style: solid;
	border-color: #575757;
	border-width: 0.12em;
	width: 45%;
	font-size: 100%;
	font-family: calibri;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

input[type="text"]:required, input[type="password"]:requiered, input[type="email"]:requiered{
	color: white;
	background-color: rgba(200, 60, 60, 50);
}

input[type="checkbox"]{
	cursor: pointer;
}

input[type="radio"]{
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------------*/
/*Lien*/
a{
	text-decoration: none;
	color: #3F3FFE;
	font-style: italic;
}
a:visited{
	text-decoration: none;
	color: #3F3FFE;
}
a:focus{
	text-decoration: none;
	color: #3F3FFE;
}

/*-----------------------------------------------------------------------------------------*/
/*Tableaux*/
table
{
    border-collapse: collapse;  /*Coller les cellules*/
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    width: 12%;
    text-align: center;
}

td.admin, th.admin /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    width: 8%;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------*/
/*Autre commun*/
.espace{
	margin-left: 2em;
	margin-right: 2em;
}