body{
	width: 40%;
	margin:auto;
	font-family: 'Roboto', sans-serif;
	background-color: #071a37;
	color: white;
}

header{
	margin-top: 2%;
}

main{
	width: 100%;
	margin-top: 40%;
}

main a{
	width: 47%;
	float:left;
	background-color: #a22f2f;
	line-height: 3em;
	height: 3em;
	margin-left: 2%;
	margin-top: 2%;
	text-align: center;
	text-decoration: none;
	color:white;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	box-shadow: 1px 1px 3px #000; 
}

a:visited, a:focus, a:hover{
	color: white;
	text-decoration: none;
}

h2{
	font-size: 22px;
}